@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200..1000;1,200..1000&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Nunito',sans-serif ;
}

/*Sidebar*/
.nav-pills li a:hover {
    background-color: blue;
}

.wrapper{
    display: grid;
    grid-template-columns: 1fr 4fr;
    background-color: rgb(16, 25, 46);
}
/*aside*/
aside{
    padding: 2rem;
    padding-right: 0;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo{
    font-weight: 400;
    font-size: 2.3rem;
}


.menu{
    list-style-type: none;
    display: flex;
    flex-direction: column;
    gap: .95rem;
}

.boton-menu{
    background-color: transparent;
    border: 0;
    color: white;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 1rem;
    font-weight: 500;
    padding: 1rem;
    font-size: .85rem;
    width: 100%;
}

.boton-menu.active{
    background-color: white;
    color: rgb(16, 25, 46);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    position: relative;
}

.boton-menu.active::before{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    bottom: 100%;
    right: 0;
    background-color: transparent;
    border-bottom-right-radius: .5rem;
    box-shadow: 0 1rem 0 white;
}
.boton-menu.active::after{
    content: '';
    position: absolute;
    width: 1rem;
    height: 2rem;
    top: 100%;
    right: 0;
    background-color: transparent;
    border-top-right-radius: .5rem;
    box-shadow: 0 -1rem 0 white;
}

.boton-carrito{
    text-decoration: none;
    margin-top: 2rem;
}

.numerito{
    background-color: white;
    color: rgb(16, 25, 46);
    padding: 0 .25rem;
    border-radius: .25rem;
}

.boton-carrito.active .numerito{
    background-color:  rgb(16, 25, 46) ;
    color: white;
}

.texto-footer{
    color: white;
}

main{
    background-color: white;
    margin: 1rem;
    margin-left: 0;
    border-radius: 2rem;
    padding: 3rem;
}

.titulo-principal{
    color: rgb(16, 25, 46);
    margin-bottom: 2rem;
}

.contenedor-productos{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 1rem;
}

.productoimagen {
    max-width: 100%;
    border-radius: 1rem;
}

.producto-detalles{
    background-color:rgb(16, 25, 46) ;
    color: white;
    padding: .5rem;
    border-radius: 1rem;
    margin-top: -2rem;
    position: relative;
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.productotitulo{
    font-size: 1rem;
}

.producto-añadir{
    border: 0;
    background-color: white;
    color: rgb(16, 25, 46) ;
    padding: .25rem;
    border-radius: 2rem;
    cursor: pointer;
    border: 2px solid white;
    transition: background-color .2s, color .2s;
}

.producto-añadir:hover{
    background-color:rgb(16, 25, 46);
    color: white;
}
/*aside*/

/* Carrito */

.contenedor-carrito{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.carrito-vacio,
.carrito-comprado{
    color: rgb(16, 25, 46);
}

.carrito-productos{
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.carrito-producto{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(230, 230, 230);
    color: rgb(16, 25, 46);
    padding: 1rem;
    padding-right: 1.5rem ;
    border-radius: 1rem;
}

.carrito-imagenproducto{
    width: 4rem;
    border-radius: 1rem;
}

.carrito-producto small{
    font-size: .75rem;
}
.carrito-producto-eliminar{
    border: 0;
    background-color: transparent;
    color:rgb(16, 25, 46) ;
    cursor: pointer;
}

.carrito-accion{
    display: flex;
    justify-content: space-between;
}

.carrito-accion-vaciar{
    border: 0;
    background-color: rgb(230, 230, 230) ;
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(16, 25, 46);
    cursor: pointer;
}

.carrito-derecha{
    display: flex;
}

.carrito-accion-total{
    display: flex;
    border: 0;
    background-color: rgb(230, 230, 230) ;
    padding: 1rem;
    color:  rgb(16, 25, 46);
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
    gap: 1rem;
}

.carrito-accion-comprar{
    border: 0;
    background-color: rgb(16, 25, 45);
    padding: 1rem;
    border-radius: 1rem;
    color: rgb(230, 230, 230); 
    cursor: pointer;
    border-top-right-radius: 1rem;
    border-bottom-right-radius: 1rem;
}

.header-mobile {
    display: none;
}

.close-menu {
    display: none;
}

.disabled{
    display: none;
}

/*** RESPONSIVE***/

@media screen and (max-width:850px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr 1fr;
    }
}

@media screen and (max-width:675px){
    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width: 600px) {

    .wrapper {
        min-height: 100vh;
        display: flex;
        flex-direction: column;
    }

    aside{
        position: fixed;
        z-index: 9;
        background-color:rgb(16, 25, 46);
        left: 0;
        box-shadow: 0 0 0 100vmax rgba(0, 0, 0, .75);
        transform: translateX(-100%);
        opacity: 0;
        visibility: hidden;
        transition: .2s;
    }

    .aside-visible {
        transform: translateX(0);
        opacity: 1;
        visibility: visible;
    }

    .boton-menu.active::before,
    .boton-menu.active::after {
        display: none;
    }


    main {
        margin: 1rem;
        margin-top: 0;
        padding: 2rem;
    }

    .contenedor-productos{
        grid-template-columns: 1fr 1fr;
    }

    .header-mobile {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .header-mobile .logo {
        color: gray;
    }

    .open-menu, .close-menu {
        background-color: transparent;
        color: gray;
        border: 0;
        font-size: 2rem;
        cursor: pointer;
    }

    .close-menu {
        display: block;
        position: absolute;
        top: 1rem;
        right: 1rem;
    }

    .carrito-producto {
        gap: 1rem;
        flex-wrap: wrap;
        justify-content: flex-start;
        padding: .5rem;
    }

    .carrito-producto-subtotal {
        display: none;
    }

    .carrito-accion {
        flex-wrap: wrap;
        row-gap: 1rem;
    }

}



@media screen and (max-width:400px){
    .contenedor-productos{
        grid-template-columns: 1fr;
    }
}